:root {
  --card-width: 146px;
  --card-height: 204px;
}

body {
  background-color: #333;
  color: #eee;
}

a[href] {
  color: #85b5ff;
}

a[href]:hover,
a[href]:focus {
  color: #c5b5ff;
}

h1 {
  margin: 0.5lh 0;
  line-height: 1;
}

.decklist textarea {
  font-size: 13px;
  width: 40ch;
  height: 10lh;
}

.deck {
  display: grid;
  justify-content: start;
  gap: 1lh 1ch;
}

.deck h2 {
  grid-column: 1;
  margin: 0;
  padding-top: 0.5lh;
  font-size: 120%;
  writing-mode: vertical-rl;
}

.cards {
  grid-column: 2;
  max-width: calc(var(--card-width) * 10);
}

.card {
  display: inline-block;
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 4.75% / 3.5%;
  overflow: hidden;
  background-color: #666;
  color: #eee;
  vertical-align: top;
  text-decoration: none;
  word-wrap: break-word;
}

.card-image {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.card-count {
  display: inline-block;
  position: absolute;
  right: calc(var(--card-width) * 0.09);
  top: calc(var(--card-height) * 0.12);
  padding: 0 0.5ch;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
}

footer {
  font-size: 80%;
}

.BalloonMessage {
  padding: 0 0.5ch;
  margin-left: 1ch;
  border-radius: 0.35em;
  color: #eee;
  background-color: #000;
  font-size: 90%;
  user-select: none;
  pointer-events: none;
}

.BalloonMessage-leave-active {
  transition: opacity 0.5s ease;
}

.BalloonMessage-leave-to {
  opacity: 0;
}
