:root {
  --card-width: calc(488px * 0.3);
  --card-height: calc(680px * 0.3);
  --gap-size: 20px;
}

body {
  background-color: #333;
  color: #eee;
  font-size: 16px;
  margin: calc(var(--gap-size) / 2);
}

a[href] {
  color: #85b5ff;
}

a[href]:hover,
a[href]:focus {
  color: #c5b5ff;
}

h1 {
  margin: var(--gap-size) 0;
  line-height: 1;
}

.options label {
  margin-right: 2ch;
}

.decklistTexts {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: var(--gap-size) calc(var(--gap-size) / 2);
  margin-bottom: var(--gap-size);
}

.decklistText p {
  margin: 0;
}

.decklistText textarea {
  margin-bottom: calc(var(--gap-size) / 2);
  font-size: 13px;
  width: 40ch;
  height: 10lh;
}

.decklistText .decklistButtons {
  display: flex;
  justify-content: space-between;
}

.decklistText.appendButton {
  align-self: center;
}

.decklists {
  display: grid;
  justify-content: start;
  gap: 0 calc(var(--gap-size) / 2);
}

.deck-name {
  margin: 0;
  font-size: 120%;
  margin-bottom: calc(var(--gap-size) / 2);
}

.section-name {
  margin: 0;
  padding-top: calc(var(--gap-size));
  font-size: 120%;
  writing-mode: vertical-rl;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  max-width: calc(var(--card-width) * 10);
  margin-bottom: var(--gap-size);
}

.decklists.multi .cards {
  min-width: calc(var(--card-width) * 5);
}

.decklists.multi .cards.diff {
  min-width: calc(var(--card-width) * 3);
}

.card {
  display: block;
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 4.75% / 3.5%;
  overflow: hidden;
  background-color: #666;
  color: #eee;
  text-decoration: none;
  word-wrap: break-word;
}

.card-image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.card-count {
  display: block;
  position: absolute;
  right: calc(var(--card-width) * 0.09);
  top: calc(var(--card-height) * 0.12);
  padding: 0 0.5ch;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
}

.card.arenaUnavailable .card-image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background-color: rgba(255,0,0,0.3);
}

footer {
  font-size: 80%;
}

.BalloonMessage {
  padding: 0 0.5ch;
  margin-left: 1ch;
  border-radius: 0.35em;
  color: #eee;
  background-color: #000;
  font-size: 90%;
  white-space: pre-wrap;
  display: inline-block;
  position: absolute;
  z-index: 1000;
}

.BalloonMessage-leave-active {
  transition: opacity 0.5s ease;
}

.BalloonMessage-leave-to {
  opacity: 0;
}
